server:
  port: ${MAIL_SERVICE_PORT:8087}

spring:
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT:465}
    protocol: ${MAIL_PROTOCOL:smtps}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5673}
    username: ${RABBIT_USERNAME:userok}
    password: ${RABBIT_PASSWORD:P@ssw0rd}
    queues:
      registration-mail: ${RABBIT_REGISTRATION_MAIL_QUEUE}

service:
  activation:
    uri: ${ACTIVATION_URI}